<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6">
    <div id="activities">
      <% if @places.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Locations') %>
        </div>
      <% else %>
      <div class="well col-lg-12">
        <div class="card">
          <div class="card-block">
            <div id="map" class="map"></div>
            <ul>
              <%= render partial: 'places/place', collection: @places %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <% if is_current_user?(@user) %>
      <div class="well">
        <ul class="nav nav-pills nav-stacked">
          <li><%= fa_icon 'pencil' %><span>&nbsp;<%= link_to 'Edit Profile', "/#{@user.username}/edit" %></span></li>
          <li>&nbsp;</li>
          <li><%= fa_icon 'lock' %><span>&nbsp;<%= link_to 'Change password', edit_user_registration_path %></span></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  $(function () {
         var map = new ol.Map({
           layers: [
             new ol.layer.Tile({
               source: new ol.source.OSM()
             })
           ],
           target: 'map',
           view: new ol.View({
             center: ol.proj.fromLonLat([77.3507442, 12.9538477]),
             zoom: 2
           })
         });

         var markers = new ol.layer.Vector({
             source: new ol.source.Vector(),
             style: new ol.style.Style({
               image: new ol.style.Icon({
                 anchor: [0.5, 1],
                 src: '/marker.png'
               })
             })
           });
         map.addLayer(markers);

         var hiddenFields = $('input[id^=place_location_attributes_]');
         for (var i = 0; i < hiddenFields.length; i++) {
           let coordinates = hiddenFields[i].value.split(','),
               marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([parseFloat(coordinates[0]), parseFloat(coordinates[1])])));
           markers.getSource().addFeature(marker);
         }

  });
</script>
