<div class="row">
  <% if user_signed_in? %>
    <div class="col-lg-3">
      <%= render 'shared/user_info' %>
    </div>
    <div id="newsfeed" class="col-lg-6">
      <div id="post-location">
        <%= render 'places/share' %>
      </div>
      <div class="col-lg-12">
        <div id="activities">
          <% if @places.empty? %>
            <div class="well">
              <%= render('shared/no_resource', resources: 'Locations') %>
            </div>
          <% else %>
          <div class="well col-lg-12">
            <div class="card">
              <div class="card-block">
                <%= render partial: 'places/place', collection: @places %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'shared/links' %>
    </div>
  <% else %>
    <div id="newsfeed" class="col-lg-12">
      <h4><%= fa_icon "newspaper-o" %>&nbsp;Please login to view shared locations</h4>
    </div>
  <% end %>
</div>
