<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>

<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6 well">
    <h3 id="click-on-it">Location: <%= @place.name %></h3>
    <div class="card">
      <div class="card-block">
        <div id="map" class="map"></div>
        <input type="hidden" id="place_location_attributes_lng" name="place[location_attributes_lng]" value="<%= @place.location.lng %>" />
        <input type="hidden" id="place_location_attributes_lat" name="place[location_attributes_lat]" value="<%= @place.location.lat %>" />
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <%= render 'shared/links' %>
  </div>
</div>


<script type="text/javascript">

  $(function () {
      var lat_field, lng_field, markersArray;
      lat_field = $('#place_location_attributes_lat');
      lng_field = $('#place_location_attributes_lng');

      var mousePositionControl = new ol.control.MousePosition({
           coordinateFormat: new ol.coordinate.createStringXY(7),
           projection: 'EPSG:4326',
           // comment the following two lines to have the mouse position
           // be placed within the map.
           className: 'custom-mouse-position',
           target: document.getElementById('mouse-position'),
           undefinedHTML: '&nbsp;'
         });

         var map = new ol.Map({
           controls: new ol.control.defaults().extend([mousePositionControl]),
           layers: [
             new ol.layer.Tile({
               source: new ol.source.OSM()
             })
           ],
           target: 'map',
           view: new ol.View({
             center: ol.proj.fromLonLat([77.3507442, 12.9538477]),
             zoom: 2
           })
         });

         var markers = new ol.layer.Vector({
             source: new ol.source.Vector(),
             style: new ol.style.Style({
               image: new ol.style.Icon({
                 anchor: [0.5, 1],
                 src: '/marker.png'
               })
             })
           });
         map.addLayer(markers);

         let marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([parseFloat(lng_field.val()), parseFloat(lat_field.val())])));
         markers.getSource().addFeature(marker);

  });
</script>
